# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
_gsdata_/_file_state_v4._gs
_gsdata_/_insync_v4.gsl
_gsdata_/_recycled_db._gs
_gsdata_/_saved_/current-events.org

*storybook.log
