html,
body {
  height: 100v;
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}



#app {
  flex: 1;
}

#app .vis-item.vis-box,
#app .vis-item.vis-cluster {
  text-align: left;
  background: white;
  border-color: black;
  border-radius: 12px;
  box-shadow: #0000005c 2px 3px 1px 0;
}

#app .vis-item.vis-cluster {
  max-width: 300px;
  text-align: left;
}

#app .vis-item.vis-cluster ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 30px;
  margin: 0;
}

#app .vis-panel.vis-center {
  z-index: 2;
}

#app .vis-timeline {
  overflow: visible;
}
#app .vis-minor,
#app .vis-major {
  font-family: sans-serif;
}
#app .vis-item .vis-item-content {
  white-space: wrap;
}

.vis-even {
  background: #f2f2f2;
}

#app .vis-time-axis .vis-text {
  padding: 7px 7px;
  font-size: 2rem;
  font-weight: bold;
}

#app .vis-cluster-line,
#app .vis-line,
#app .vis-cluster-dot,
#app .vis-dot {
  border-color: black;
}


.filters {
  display: flex;
  gap: 16px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
